= render 'display', :locals => { :sites => @sites, :mode => :extended }

#add_site
  %h2= link_to '+ Add Group', new_site_path

:javascript
  Event.observe(window,'dom:loaded',function() { watchBlock.setGraphsFromCookie() });
