html
  background-color: #000000
  color: #333333
  
h1
  margin: 1em 0 0
  a
    display: block
    width: 163px
    height: 100px
    background: transparent url('../images/logo.png') top left no-repeat
    span
      display: none

#sites
  margin: 1em 5em
  .site
    width: 100%
    background-color: #cccccc
    -moz-border-radius: 15px
    margin: 1em 0
    cursor: pointer
    &:hover
      background-color: #d3d3d3
    .container
      padding: 1em 2em
      h2
        font-size: 161%
        font-weight: bold
        margin: 0 0 .2em
      table
        font-size: 131%
        color: #666666
        -moz-border-radius: 10px
        background-color: #eeeeee
        width: 100%
        tr:last-child td
          border-bottom: none
        td
          padding: .2em 1em
          border-bottom: 1px solid #aaaaaa
          &.name
            width: 15%
          &.url
            width: 35%
            font-size: 85%
          &.status
            width: 50%
            font-weight: bold
        // statuses
        tr.up
          td
            background-color: #e6ffe6
          td.status
            color: #009900
        tr.down
          td
            background-color: #f9dbdb
          td.status
            color: #990000
        tr.disabled
          td
            color: #aaaaaa
        tr.unknown
        