html {
  background-color: #e6e1c7;
  color: #333333;
}

h1 {
  margin: 1em 0 0;
}
h1 a {
  display: block;
  width: 211px;
  height: 110px;
  background: transparent url('../images/logo.png') top left no-repeat;
}
h1 a span {
  display: none;
}

#sites {
  margin: 1em 5em;
}
#sites .site {
  width: 100%;
  background-color: #5e3500;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin: 2em 0 1em;
}
#sites .site .container {
  padding: 1em 1.5em 1.5em;
}
#sites .site .container h2 {
  font-size: 200%;
  font-weight: bold;
  margin: 0 0 .4em;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0,0,0,.6);
}
#sites .site .container table {
  cursor: pointer;
  color: #666666;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #eeeeee;
  width: 100%;
}
#sites .site .container table tr:first-child td:first-child {
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
#sites .site .container table tr:first-child td:last-child {
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
}
#sites .site .container table tr:last-child td:first-child {
  -moz-border-radius: 0 0 0 5px;
  -webkit-border-radius: 0 0 0 5px;
}
#sites .site .container table tr:last-child td:last-child {
  -moz-border-radius: 0 0 5px 0;
  -webkit-border-radius: 0 0 5px 0;
}
#sites .site .container table tr:last-child td {
  border-bottom: none;
}
#sites .site .container table td {
  padding: .5em 1em;
  border-bottom: 5px solid #5e3500;
}
#sites .site .container table td span {
  display: block;
}
#sites .site .container table td.name {
  width: auto;
}
#sites .site .container table td.name span.name {
  font-size: 146.5%;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
}
#sites .site .container table td.name span.url {
  font-size: 100%;
}
#sites .site .container table td.name a {
  color: rgba(255,255,255,.6);
}
#sites .site .container table td.name a:hover {
  color: rgba(255,255,255,1);
}
#sites .site .container table td.status {
  width: 50px;
  text-align: center;
}
#sites .site .container table td.status span.status {
  font-weight: bold;
  font-size: 146.5%;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
}
#sites .site .container table td.status span.response {
  font-size: 85%;
}
#sites .site .container table td.status a {
  color: #ffffff;
}
#sites .site .container table td.graph {
  width: 235px;
  text-align: right;
}
#sites .site .container table td.graph ul {
  font-size: 85%;
  margin: 0 0.5em;
}
#sites .site .container table td.graph ul li {
  display: inline;
  padding: 0 0.5em;
}
#sites .site .container table td.graph ul li.current {
  background-color: rgba(255,255,255,1);
  -moz-border-radius: 2px 2px 0 0;
}
#sites .site .container table td.graph ul li.current a {
  color: #638562;
}
#sites .site .container table td.graph ul li.current a:hover {
  color: #638562;
}
#sites .site .container table td.graph ul li a {
  color: rgba(255,255,255,.6);
  text-decoration: none;
  outline: none;
}
#sites .site .container table td.graph ul li a:hover {
  color: rgba(255,255,255,1);
}
#sites .site .container table td.graph img {
  display: block;
  padding: .3em;
  background-color: #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#sites .site .container table tr.up td {
  background-color: #638562;
  color: #ffffff;
}
#sites .site .container table tr.up:hover td {
  background-color: #7A9F78;
}
#sites .site .container table tr.down td {
  background-color: #921C1C;
  color: #ffffff;
}
#sites .site .container table tr.down:hover td {
  background-color: #AE2D2D;
}
#sites .site .container table tr.disabled td {
  background-color: #aaaaaa;
  color: #ffffff;
}
#sites .site .container table tr.disabled:hover td {
  background-color: #999999;
}
#sites .site .container .new_watch {
  font-size: 108%;
  background-color: #009900;
  margin: 0.5em 0 0;
  float: right;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.3);
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}
#sites .site .container .new_watch:hover {
  background-color: #04b502;
}
#sites .site .container .new_watch a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 0.3em 1.5em;
  text-shadow: 1px 1px 1px rgba(0,0,0,.6);
}
#sites #add_site {
  margin: 2em 0 0;
}
#sites #add_site h2 {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-shadow: 2px 2px 2px rgba(0,0,0,.6);
  background-color: #009900;
  font-size: 200%;
}
#sites #add_site h2:hover {
  background-color: #04b502;
}
#sites #add_site h2 a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
}
