h1 {
  display: none;
}

#sites {
  margin: 10px 0 10px 10px;
  overflow: hidden;
}
#sites .site {
  background-color: transparent;
  margin: 0;
  padding: 0;
}
#sites .site h2 {
  display: none;
}
#sites .site .watch {
  float: left;
  width: 300px;
  height: 112px;
  margin: 0 10px 10px 0;
  display: block;
  min-width: 200px;
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
#sites .site .watch div {
  padding: 0;
  float: left;
}
#sites .site .watch div.name {
  width: auto;
  margin: 0.5em 1em;
}
#sites .site .watch div.name span.name {
  font-size: 131%;
}
#sites .site .watch div.name span.url a {
  font-size: 85%;
}
#sites .site .watch div.status {
  text-align: left;
  width: auto;
  clear: left;
  float: left;
  margin-top: 1.7em;
  padding: 0.3em 1em 0.4em;
  background-color: rgba(255,255,255,.2);
  width: 100%;
}
#sites .site .watch div.status span {
  display: inline;
  font-size: 85%;
}
#sites .site .watch div.status span.response {
  margin: 0 1.3em 0 0;
}
#sites .site .watch div.graph {
  display: none;
}
#sites .site .new_watch {
  display: none;
}
